# Игнорировать файлы, созданные операционной системой
.DS_Store
Thumbs.db

# Игнорировать кэши и временные файлы
*.cache
*.log
*.bak
*.swp

# Игнорировать директории виртуальных окружений и их зависимости
venv/
env/
.venv/
.env/
conda/

# Игнорировать директорию Arch Linux
*.pkg.tar.*
*.src.tar.*
*.tar.gz
*.tar.xz

# Игнорировать локальные настройки и конфигурационные файлы
.env.local
.vscode/
.idea/

# Игнорировать сгенерированные файлы
generated/
dist/
build/

# Игнорировать конфиденциальные файлы и данные
credentials.json
secret.txt

# Игнорировать файлы определенных расширений
*.pdf
*.exe